/* Default styles */
@font-face {
    font-family: plusjakartasans;
    src: url(font/plusjakartasans-bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: plusjakartasansextrabold;
    src: url(font/plusjakartasans-extrabold.ttf);
}
html{
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
}

body {
    background-color: #151515;
    max-width: fit-content;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
 
}
#container{
  width: 100%;
  height: 100vh;
  z-index: 9;


}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(52, 52, 52, 0.9);
}

::-webkit-scrollbar-thumb{
  background:#04579b;
  border-radius: 10px;
}



#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;


}
.side-navbar{
  display: flex;
  width: 600px;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
  /* padding-right: 20px; */
}

.mobilenav{
  z-index: 9999;
  position: fixed;
  height: 100vh;
  width: 70%;
  background: white;
  /* display: none; */
  transform: translateX(-100%);
  transition: all 0.5s;
}
.mobilenav i{
  font-size: 4rem;
  right: 20px;
  top: 20px;
  position: absolute;
}
.mobilenav.active{
  transform: translateX(0%);
}

.mobilenav ul{
  padding-top: 100px;
}

.mobilenav ul li{
  text-decoration: none;
  list-style-type: none;
  font-size: 3rem;
  font-family: plusjakartasans;
  margin-top: 50px;
} 







#Title {
    color: #FFF;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: plusjakartasans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 60px;
}

/* #downloadbtn {
    padding: 20px;
  font-size: 1rem;
    border-radius: 40px;;
    background: black;
    color: white;
    font-family: "plusjakartasans";
} */
button{
  border: none;
}
button:hover, #githubicon:hover{
  cursor: pointer;
  background: #04579b;

}
.container1{
  width: 100%;
  height: 80vh;
  overflow: hidden;
}



button{
  padding: 20px;
  font-size: 1rem;
    border-radius: 40px;;
    background: black;
    color: white;
    font-family: "plusjakartasans";
    box-shadow: 0px 0px 10px black;
}

#githubicon {
  font-size: 2.5rem;
  width: 60px; height: 60px;
  border-radius: 50%;
  padding-bottom: 1px;
  background: black;
  align-items: center;
  color: white;

}
#githubicon i{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.menubtn{
  position: absolute;
  right: 50px;

  font-size: 2rem;
  color: white;
  display: none;
}


@media only screen and (max-width: 950px) {
  .side-navbar{
    display: none;
  }
  .menubtn{
    display: block;
  }
  #downarrow{
    visibility: hidden;
  }
}














#thenextera {
    color: rgba(255, 255, 255, 0.50);
    font-family: plusjakartasansextrabold;
    font-size: 124px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

#downarrow {
    display: flex;
    justify-content: center;
    margin: auto;
}

.page {
    max-width: 100%;
    height: auto;
}
#footer {
    display: flex;
    color: #888888;
    font-family: plusjakartasans;
    font-weight: bold;
  }
  


#subhead {
  animation: fadeIn 3s;
}
/* Media queries */


/* 
@media only screen and (max-width: 768px) {

  #Title {
    font-size: 30px;
    padding-left: 15px;
  }
  
  #teamicon {
    width: auto;
    height: 53px;
    padding-right: 170px;
  }
  
  #githubicon {
    width: auto;
    height: 53px;
    padding-right: 250px;
  }
  
  #thenextera {
    font-size: 64px;
  }

  #downloadbtn {
    width: auto;
    height: 53px;
    padding-right: 10px;
  }
  #downarrow {
    width: auto;
    height: 30px;
  }
  #footer p {
    margin: 0 65px;
}
#footer {
  display: flex;
  color: #888888;
  font-family: plusjakartasans;
  font-weight: bold;
  font-size: smaller;
}
#page1, #page2, #page3 {
  display: block;
  animation: fadeIn 3s;
}
#subhead {
  animation: fadeIn 3s;
}
}

@media only screen and (max-width: 480px) {

  #Title {
    font-size: 15px;
    padding-left: 10px;
  }
  
  #teamicon {
    padding-right: 90px;
    width: auto;
    height: 25px;
  }
  
  #githubicon {
    padding-right: 130px;
    width: auto;
    height: 25px;
  }
  
  #thenextera {
    font-size: 40px;
  }
  #downloadbtn {
    height: 25px;
    width: auto;
    padding-right: 15px;
  }
  #downarrow {
    height: 25px;
    width: auto;
  }
  #footer p {
    margin: 0 10px;
}
#footer {
    display: flex;
    justify-content: center;
    color: #888888;
    font-family: plusjakartasans;
    font-weight: bold;
    font-size: x-small;
  }
  #page1, #page2, #page3 {
    display: block;
    animation: fadeIn 3s;
  }
  #subhead {
    animation: fadeIn 3s;
  }
}
a {
  display: block;
  text-decoration: none;
  color:#888888;
}
a:visited { 
  color: #888888;
}
#page1{
  display: block;
  animation: fadeIn 3s;

}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@media only screen and (min-width: 769px) {
#page2, #page3 {
  display: none;
}
} */