*{
  margin: 0;
  padding: 0  ;
}

body{
  background-color: #0B0B0B !important;
}
.thenextera {
  color: rgba(185, 182, 182, 0.5);
  font-size: 10svw;
  font-family: "Raleway", sans-serif !important;
  font-weight: 800;
  line-height: normal;
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
}
/* Custom CSS */
.image-container {
  position: relative;
  width: 100%;
}

.image-caption {
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 0; /* Optional: Add background color for better readability */
  color: rgba(255, 255, 255, 0.5);
  font-size: 5vw;
  font-family: "Raleway", sans-serif !important;
  font-weight: 800;
}
.btn:hover{
  background-color: #536FEB !important;
}

.col{
  display: flex;
    justify-content: flex-end;
    position: relative;
    right: 6vw;
}
.container-fluid{
  display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly !important;
    align-items: center;
    
}
.container-fluid>a{
  color: rgb(81, 82, 80);
}
.container-fluid>a:hover{
  color: #536FEB !important;
}
a {
  text-decoration: none !important;
}
.sm{
  display: none;
  
}
.lg{
  gap: 2rem!important;
    display: flex;
    align-items: center;
}



@media only screen and (max-width: 515px) {
  /* Adjust styles for phones */

 .gap-3{
  position: relative;
    bottom: 200px;
 }
  .container>.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    font-size: 10vh;
    bottom: 7vh;
}
.navbar>.container{
  justify-content: center !important;
}
.image-caption{
  bottom: 5px;
    left: 5%;
}

  .lg{
    display: none;
  }
  .sm{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
